.tech-container {
    display: flex;
    // height: 90vh;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    color: white;
    position: relative;
    .cutoff-placeholder {
        height: 10rem;
    }
    .horizontal-cutoff {
        position: absolute;
        width: 100%;
        height: 8rem;
        top: -1px;
        z-index: 1;
        background-image: linear-gradient(183deg, rgb(64,64,64) 50%, rgba(0,0,0,0) 50%);
      }
}

.tab {
    
    background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(32,32,32,1) 10%, rgba(32,32,32,1) 90%, rgba(64,64,64,1) 100%);
    
    transform: translate3d(0,0,0);
        padding: 10px 0px;
    transition: 0.3s;
    .title {
        // transform: translateZ(0);
        transition: 0.3s;
    }
    .content {
        transform: translateZ(0);
        transition: 0.5s;
    }
}

.tab-closed {
    transform: translateZ(0);
    width: 80px;
    &:hover .title-closed {
        transition: 0.1s;
        color: red;
    }

    cursor: pointer;
    img {
        width: 0;
    }
}

.tab-open {
    transform: translateZ(360);
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    li {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }
    .item-img {
        margin: 0.5rem auto;
        max-width: 7.5rem;
        flex-grow: 1;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

    }
    .item-text {
        color: white;
        font-size: 120%;
        &:hover {
            color: whitesmoke;
        }
    }
}

.title {
    color: white;
    text-shadow: 0px 0px 5rem black;
}
.title-closed {
    // display: flex;
    cursor: pointer;
    // transform:matrix(0.00,-1.00,1.00,0.00,0,150);
    transform: rotate(-90deg)
}

.title-open {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-closed {
    opacity: 0;
    
    transform: translateY(300px);
}

.content-open {
    opacity: 1;
    
    height: 90vh;
    padding: 2rem;
    ul {
        cursor: default;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
}

@media screen and (max-width: 400px) {
    .title-open{
        h2 {
            font-size: 1.5rem;
            
        }
    }
    .tab-closed {
        width: 60px;
    }
}

